<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >
<!-- versionCode is optional and Android only -->
  <preference name="phonegap-version" value="cli-8.1.1" />
  <name>Invoice App</name>

  <description>
      An example for phonegap build docs.
  </description>

  <author  email="rakesh@forsfortis.net">
      Rakesh Ramesan
  </author>
  <access origin="*"/>
    <!-- Added the following intents to support the removal of whitelist code from base cordova to a plugin -->
    <!-- Whitelist configuration. Refer to https://cordova.apache.org/docs/en/edge/guide_appdev_whitelist_index.md.html -->
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>