<?xml version="1.0" encoding="UTF-8" ?>

<!-- versionCode is optional and Android only -->
<preference name="phonegap-version" value="cli-6.5.0" />
  <name>Invoice App</name>

  <description>
      An example for phonegap build docs.
  </description>

  <author  email="rakesh@forsfortis.net">
      Rakesh Ramesan
  </author>

</widget>